<div
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.all @ categories='[[clientLibName]]'}"
	data-sly-unwrap></div>

<!--/* 
	   Sightly Comment will be  ignored by the Sightly processor and removed from the output. 
	   Recommend to use sightly comment instead of regular html comment
*/-->
<div data-sly-test='${wcmmode.edit}'>Placeholder for edit</div>

<div class="[[componentNodeName]]"
	data-sly-use.[[componentNodeName]]="[[javaUseClass]]"></div>

